@model IEnumerable<MyBlogApplication.ViewModel.UserViewModel>

@{
	ViewData["Title"] = "Users";
}

<h1>@ViewData["Title"]</h1>
<h4>List of all application users.</h4>
<hr />

<table class="table">
	<thead>
		<tr>
			<th>@Html.DisplayNameFor(m => m.FirstName)</th>
			<th>@Html.DisplayNameFor(m => m.LastName)</th>
			<th>@Html.DisplayNameFor(m => m.RoleName)</th>
			<th>@Html.DisplayNameFor(m => m.Email)</th>
			<th>@Html.DisplayNameFor(m => m.CreatedOn)</th>
			<th class="text-end">Actions</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>@item.FirstName</td>
				<td>@item.LastName</td>
				<td>@(item.RoleName ?? "<None>")</td>
				<td><a href="mailto:@item.Email">@item.Email</a></td>
				<td>@item.CreatedOn</td>
				<td class="text-end">
					<a asp-action="Edit" asp-route-id="@item.UserId" class="btn btn-outline-dark btn-sm">Edit</a>
					<a asp-action="Details" asp-route-id="@item.UserId" class="btn btn-primary btn-sm">Details</a>
					<a asp-action="Delete" asp-route-id="@item.UserId" class="btn btn-danger btn-sm">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>